#app.theme.theme-dark {
  background-color: #eff0f4; }
  #app.theme.theme-dark .theme-aside, #app.theme.theme-dark .theme-aside.el-aside {
    background-color: #1b2b38; }
    #app.theme.theme-dark .theme-aside .el-menu, #app.theme.theme-dark .theme-aside.el-aside .el-menu {
      background-color: #1b2b38;
      color: #869fb1; }
      #app.theme.theme-dark .theme-aside .el-menu:hover, #app.theme.theme-dark .theme-aside.el-aside .el-menu:hover {
        background-color: #1b2b38; }
      #app.theme.theme-dark .theme-aside .el-menu .el-menu-item, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-menu-item {
        color: #869fb1;
        background-color: #1b2b38; }
        #app.theme.theme-dark .theme-aside .el-menu .el-menu-item.is-active, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-menu-item.is-active {
          color: #FFFFFF;
          background-color: #16232d; }
        #app.theme.theme-dark .theme-aside .el-menu .el-menu-item:hover, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-menu-item:hover {
          color: #FFFFFF;
          background-color: #131e26; }
      #app.theme.theme-dark .theme-aside .el-menu .el-submenu, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-submenu {
        color: #869fb1; }
        #app.theme.theme-dark .theme-aside .el-menu .el-submenu .el-submenu__title, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-submenu .el-submenu__title {
          color: #869fb1; }
          #app.theme.theme-dark .theme-aside .el-menu .el-submenu .el-submenu__title:hover, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-submenu .el-submenu__title:hover {
            color: #FFFFFF;
            background-color: #131e26; }
        #app.theme.theme-dark .theme-aside .el-menu .el-submenu.is-opened, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-submenu.is-opened {
          color: #FFFFFF; }
          #app.theme.theme-dark .theme-aside .el-menu .el-submenu.is-opened .el-submenu__title, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-submenu.is-opened .el-submenu__title {
            color: #FFFFFF;
            background-color: #131e26; }
            #app.theme.theme-dark .theme-aside .el-menu .el-submenu.is-opened .el-submenu__title i, #app.theme.theme-dark .theme-aside.el-aside .el-menu .el-submenu.is-opened .el-submenu__title i {
              color: #FFFFFF; }
      #app.theme.theme-dark .theme-aside .el-menu.el-menu--inline, #app.theme.theme-dark .theme-aside.el-aside .el-menu.el-menu--inline {
        background-color: #131e26; }
        #app.theme.theme-dark .theme-aside .el-menu.el-menu--inline .el-menu-item, #app.theme.theme-dark .theme-aside.el-aside .el-menu.el-menu--inline .el-menu-item {
          background-color: #131e26; }
          #app.theme.theme-dark .theme-aside .el-menu.el-menu--inline .el-menu-item.is-active, #app.theme.theme-dark .theme-aside.el-aside .el-menu.el-menu--inline .el-menu-item.is-active {
            color: #FFFFFF; }
  #app.theme.theme-dark .theme-header, #app.theme.theme-dark .theme-header.el-header {
    background-color: #FFFFFF; }
    #app.theme.theme-dark .theme-header .header, #app.theme.theme-dark .theme-header.el-header .header {
      color: #363f44;
      background-color: #FFFFFF; }
      #app.theme.theme-dark .theme-header .header .header-left, #app.theme.theme-dark .theme-header.el-header .header .header-left {
        background-color: #FFFFFF;
        color: #363f44; }
      #app.theme.theme-dark .theme-header .header .header-tools .fsicon, #app.theme.theme-dark .theme-header.el-header .header .header-tools .fsicon {
        color: #363f44; }
      #app.theme.theme-dark .theme-header .header .header-tools .item, #app.theme.theme-dark .theme-header.el-header .header .header-tools .item {
        transition: all .25s; }
        #app.theme.theme-dark .theme-header .header .header-tools .item:hover, #app.theme.theme-dark .theme-header.el-header .header .header-tools .item:hover {
          background-color: #f6f8f8; }
          #app.theme.theme-dark .theme-header .header .header-tools .item:hover .fsicon, #app.theme.theme-dark .theme-header.el-header .header .header-tools .item:hover .fsicon {
            color: #42b983; }
      #app.theme.theme-dark .theme-header .header .menu-btn, #app.theme.theme-dark .theme-header.el-header .header .menu-btn {
        color: #42b983; }
        #app.theme.theme-dark .theme-header .header .menu-btn:hover, #app.theme.theme-dark .theme-header.el-header .header .menu-btn:hover {
          background-color: #f6f8f8;
          color: #363f44; }
#app.theme.theme-dark2 {
  background-color: #eff0f4; }
  #app.theme.theme-dark2 .theme-aside, #app.theme.theme-dark2 .theme-aside.el-aside {
    background-color: #3a3f51; }
    #app.theme.theme-dark2 .theme-aside .el-menu, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu {
      background-color: #3a3f51;
      color: #a6a8b1; }
      #app.theme.theme-dark2 .theme-aside .el-menu:hover, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu:hover {
        background-color: #3a3f51; }
      #app.theme.theme-dark2 .theme-aside .el-menu .el-menu-item, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-menu-item {
        color: #b4b6bd;
        background-color: #3a3f51; }
        #app.theme.theme-dark2 .theme-aside .el-menu .el-menu-item.is-active, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-menu-item.is-active {
          color: #FFFFFF;
          background-color: #32374a; }
        #app.theme.theme-dark2 .theme-aside .el-menu .el-menu-item:hover, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-menu-item:hover {
          color: #FFFFFF;
          background-color: #2e3344; }
      #app.theme.theme-dark2 .theme-aside .el-menu .el-submenu, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-submenu {
        color: #b4b6bd; }
        #app.theme.theme-dark2 .theme-aside .el-menu .el-submenu .el-submenu__title, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-submenu .el-submenu__title {
          color: #b4b6bd; }
          #app.theme.theme-dark2 .theme-aside .el-menu .el-submenu .el-submenu__title:hover, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-submenu .el-submenu__title:hover {
            color: #FFFFFF;
            background-color: #2e3344; }
        #app.theme.theme-dark2 .theme-aside .el-menu .el-submenu.is-opened, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-submenu.is-opened {
          color: #FFFFFF; }
          #app.theme.theme-dark2 .theme-aside .el-menu .el-submenu.is-opened .el-submenu__title, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-submenu.is-opened .el-submenu__title {
            color: #FFFFFF;
            background-color: #2e3344; }
            #app.theme.theme-dark2 .theme-aside .el-menu .el-submenu.is-opened .el-submenu__title i, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu .el-submenu.is-opened .el-submenu__title i {
              color: #FFFFFF; }
      #app.theme.theme-dark2 .theme-aside .el-menu.el-menu--inline, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu.el-menu--inline {
        background-color: #2e3344; }
        #app.theme.theme-dark2 .theme-aside .el-menu.el-menu--inline .el-menu-item, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu.el-menu--inline .el-menu-item {
          background-color: #2e3344; }
          #app.theme.theme-dark2 .theme-aside .el-menu.el-menu--inline .el-menu-item.is-active, #app.theme.theme-dark2 .theme-aside.el-aside .el-menu.el-menu--inline .el-menu-item.is-active {
            color: #FFFFFF;
            background-color: #32374a; }
  #app.theme.theme-dark2 .theme-header, #app.theme.theme-dark2 .theme-header.el-header {
    background-color: #FFFFFF; }
    #app.theme.theme-dark2 .theme-header .header, #app.theme.theme-dark2 .theme-header.el-header .header {
      color: #3a3f51;
      background-color: #FFFFFF; }
      #app.theme.theme-dark2 .theme-header .header .header-left, #app.theme.theme-dark2 .theme-header.el-header .header .header-left {
        background-color: #7266ba;
        color: #f4f3f9; }
      #app.theme.theme-dark2 .theme-header .header .header-tools .fsicon, #app.theme.theme-dark2 .theme-header.el-header .header .header-tools .fsicon {
        color: #32374a; }
      #app.theme.theme-dark2 .theme-header .header .header-tools .item, #app.theme.theme-dark2 .theme-header.el-header .header .header-tools .item {
        transition: all .25s; }
        #app.theme.theme-dark2 .theme-header .header .header-tools .item:hover, #app.theme.theme-dark2 .theme-header.el-header .header .header-tools .item:hover {
          background-color: #f6f8f8; }
          #app.theme.theme-dark2 .theme-header .header .header-tools .item:hover .fsicon, #app.theme.theme-dark2 .theme-header.el-header .header .header-tools .item:hover .fsicon {
            color: #7266ba; }
      #app.theme.theme-dark2 .theme-header .header .menu-btn, #app.theme.theme-dark2 .theme-header.el-header .header .menu-btn {
        color: #f4f3f9; }
        #app.theme.theme-dark2 .theme-header .header .menu-btn:hover, #app.theme.theme-dark2 .theme-header.el-header .header .menu-btn:hover {
          background-color: #7266ba;
          color: #3a3f51; }
#app.theme.theme-dark3 {
  background-color: #eff0f4; }
  #app.theme.theme-dark3 .theme-aside, #app.theme.theme-dark3 .theme-aside.el-aside {
    background-color: #dde6e9; }
    #app.theme.theme-dark3 .theme-aside .el-menu, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu {
      background-color: #dde6e9;
      color: #363f44; }
      #app.theme.theme-dark3 .theme-aside .el-menu:hover, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu:hover {
        background-color: #dde6e9; }
      #app.theme.theme-dark3 .theme-aside .el-menu .el-menu-item, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-menu-item {
        color: #363f44;
        background-color: #dde6e9; }
        #app.theme.theme-dark3 .theme-aside .el-menu .el-menu-item.is-active, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-menu-item.is-active {
          color: #141719;
          background-color: #f6f8f8; }
        #app.theme.theme-dark3 .theme-aside .el-menu .el-menu-item:hover, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-menu-item:hover {
          color: #141719;
          background-color: #f6f8f8; }
      #app.theme.theme-dark3 .theme-aside .el-menu .el-submenu, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-submenu {
        color: #363f44; }
        #app.theme.theme-dark3 .theme-aside .el-menu .el-submenu .el-submenu__title, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-submenu .el-submenu__title {
          color: #363f44; }
          #app.theme.theme-dark3 .theme-aside .el-menu .el-submenu .el-submenu__title:hover, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-submenu .el-submenu__title:hover {
            color: #141719;
            background-color: #f6f8f8; }
        #app.theme.theme-dark3 .theme-aside .el-menu .el-submenu.is-opened, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-submenu.is-opened {
          color: #363f44; }
          #app.theme.theme-dark3 .theme-aside .el-menu .el-submenu.is-opened .el-submenu__title, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-submenu.is-opened .el-submenu__title {
            color: #363f44;
            background-color: #e4eaec; }
            #app.theme.theme-dark3 .theme-aside .el-menu .el-submenu.is-opened .el-submenu__title i, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu .el-submenu.is-opened .el-submenu__title i {
              color: #363f44; }
      #app.theme.theme-dark3 .theme-aside .el-menu.el-menu--inline, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu.el-menu--inline {
        background-color: #e4eaec; }
        #app.theme.theme-dark3 .theme-aside .el-menu.el-menu--inline .el-menu-item, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu.el-menu--inline .el-menu-item {
          background-color: #e4eaec; }
          #app.theme.theme-dark3 .theme-aside .el-menu.el-menu--inline .el-menu-item.is-active, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu.el-menu--inline .el-menu-item.is-active {
            color: #141719;
            background-color: #f6f8f8; }
          #app.theme.theme-dark3 .theme-aside .el-menu.el-menu--inline .el-menu-item:hover, #app.theme.theme-dark3 .theme-aside.el-aside .el-menu.el-menu--inline .el-menu-item:hover {
            background-color: #f6f8f8; }
  #app.theme.theme-dark3 .theme-header, #app.theme.theme-dark3 .theme-header.el-header {
    background-color: #1199c4; }
    #app.theme.theme-dark3 .theme-header .header, #app.theme.theme-dark3 .theme-header.el-header .header {
      color: #FFFFFF;
      background-color: #1199c4; }
      #app.theme.theme-dark3 .theme-header .header.has-bimg, #app.theme.theme-dark3 .theme-header.el-header .header.has-bimg {
        background-image: -webkit-gradient(linear, left 0, left 100%, from(rgba(40, 50, 60, 0)), to(rgba(40, 50, 60, 0.075)));
        background-repeat: repeat-x; }
      #app.theme.theme-dark3 .theme-header .header .header-left, #app.theme.theme-dark3 .theme-header.el-header .header .header-left {
        background-color: #1199c4;
        color: #FFFFFF; }
      #app.theme.theme-dark3 .theme-header .header .header-tools .fsicon, #app.theme.theme-dark3 .theme-header.el-header .header .header-tools .fsicon {
        color: #FFFFFF; }
      #app.theme.theme-dark3 .theme-header .header .header-tools .item:hover, #app.theme.theme-dark3 .theme-header.el-header .header .header-tools .item:hover {
        background-color: #16aad8; }
        #app.theme.theme-dark3 .theme-header .header .header-tools .item:hover .fsicon, #app.theme.theme-dark3 .theme-header.el-header .header .header-tools .item:hover .fsicon {
          color: #FFFFFF; }
      #app.theme.theme-dark3 .theme-header .header .menu-btn, #app.theme.theme-dark3 .theme-header.el-header .header .menu-btn {
        color: #FFFFFF; }
        #app.theme.theme-dark3 .theme-header .header .menu-btn:hover, #app.theme.theme-dark3 .theme-header.el-header .header .menu-btn:hover {
          background-color: #16aad8;
          color: #FFFFFF; }

/*# sourceMappingURL=_theme.css.map */
