@charset "UTF-8";

.yorn-contextmenu{
	position: absolute;
	box-shadow: 0 0 12px rgba(0,0,0,.2);
	box-sizing: border-box;
	background-color: #FFF;
	width: 110px;
	border-radius: 3px;
	left: 0;
	top: 0;
	display: block;
	z-index: 500;
	border: 1px solid #cfd7e5;
	padding: 5px 0;
}
